@media(max-width:1000px) {
  .container {
    max-width: 100%;
  }

  .header__inner {
    margin-right: 20px;
  }

  .images {
    width: 100%;
  }
}

@media(max-width:960px) {
  .items__inner {
    flex-wrap: wrap;
  }

  .item {
    width: 50%;
    margin-bottom: 100px;
    padding-right: 20px;
  }

  .item__follow-me {
    width: 100%;
  }

  .works__inner {
    flex-wrap: wrap;
  }

  .works__inner-item {
    margin-right: 20px;
    margin-bottom: 50px;
  }
}

@media(max-width:920px) {
  .texts__slides {
    font-size: 14px;
    padding: 10px 0px 10px 0px;
  }

  .slider__item-title {
    height: 85px;
  }
}

@media(min-width:816px) {
  .follow.follow-responsive {
    display: none;
  }
}

@media(max-width:815px) {

  .nav__slider {
    display: none;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__item {
    width: 50%;
    padding-right: 20px;
  }

  .footer__item+.footer__item {
    margin-left: 0;
  }

  .footer__item-contact {
    width: 100%;
    margin-top: 27px;
  }

  .follow {
    margin: 0 auto;
    padding-top: 10px;
  }

  .follow-desktop {
    display: none;
  }
}

@media(max-width:756px) {
  .works__inner {
    justify-content: space-around;
  }
}
  @media(max-width:650px) {

    button.slick-next.slick-arrow,
    button.slick-prev.slick-arrow {
      display: none !important;
    }
  }

  @media(max-width:600px) {
    .header__menu-btn {
      display: block;
    }

    .header__menu>ul {
      display: none;
      position: absolute;
      top: 63px;
      right: 0;
      width: 100%;
      background-color: #f3af9d;
      padding-top: 10px;
      border: 3px solid #e8603c;
      border-left: none;
      border-right: none;
      z-index: 1;
    }

    .header__menu li {
      display: block;
      text-align: center;
      margin: 0;
      padding-bottom: 10px;
    }

    .header__menu li+li {
      margin: 0;
    }

    .header__menu li a {
      color: #fff;
    }

    .item {
      width: 100%;
      padding-right: 0;
    }

    .slider__item-title {
      bottom: 0;
      left: 0;
      width: 100%;
      padding-right: 5px;

    }
  }

  @media(max-width:517px) {
    .works__inner-item{
      width: 70%;
    }
    img{
      width: 100%;
    }
    .footer__item {
      width: 100%;
    }

    .footer__item-twitter {
      padding-top: 27px;
    }
  }

@media(min-width:601px) {
    .header__menu > ul{
      display: block !important;
    }
  }